@import url('reset.css');

body {
  padding: 50px;
  background: black;
}

.container {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  border-radius: 12px;
  background: url('/images/unnamed.png') center/cover;
  position: relative;
}

.button1 {
  padding: 10px 20px;
  height: 50px;
  border-radius: 12px;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.403);
  color: white;
  position: absolute;
  left: 500px;
  top: 25px;
}

.button2 {
  border-radius: 12px;
  padding: 10px 15px;
  background-color: brown;
  top: 5px;
  position: absolute;
  right: 5px;
  display: none;
}

.cont2 {
  display: flex;
  padding: 10px 0;
  text-align: center;
  flex-flow: column;
  gap: 10px;
  width: 400px;
  background: rgba(0, 0, 0, 0.603);
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 12px;
  font-size: 20px;
  color: white;
  display: none;
  padding-bottom: 100px;
}

img {
  position: absolute;
  bottom: 30px;
  right: 188px;
  width: 30px;
  height: 30px;
}